.gallery {

}

.gallery__filter-btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;

  @include tablet {
    gap: 24px;
    margin-bottom: 50px;
  }

  @include laptop {
    gap: 50px;
  }

  @include desktop {}
}

.gallery__filter-btn {
  @include text-style-btn;
  color: $accent-color;
  padding: 10px 18px;
  border: 1px solid $accent-color;
  border-radius: 32px;

  &.active {
    color: $color-white;
    background-color: $accent-color;
  }
}

.swiper-gallery {
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 35vh;

    @include tablet {
      height: calc((100vw - 48px) * 0.5);
    }

    @include laptop {
      height: calc((100vw - 60px) / 1.5 * 0.6);
    }

    @include desktop {}
  }

  &.pending {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 5px solid $color-white;
      border-top-color: $color-grey;
      animation: loading 2s linear infinite;
      z-index: 40;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $bg-color;
      width: 100%;
      height: 100%;
      animation: fadeIn 0.25s ease-out;
      z-index: 39;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.swiper-gallery .swiper-button-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;

  svg {
    transform: scale(0.4) rotate(180deg);
  }

  @include tablet {
    left: 56px;
    width: 64px;
    height: 64px;

    svg {
      transform: scale(0.6) rotate(180deg);
    }
  }

  @include laptop {
    left: 78px;
  }

  @include desktop {
    left: 90px;
    width: 100px;
    height: 100px;

    svg {
      transform: scale(0.7) rotate(180deg);
    }
  }
}

.swiper-gallery .swiper-button-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;

  svg {
    transform: scale(0.4);
  }

  @include tablet {
    right: 56px;
    width: 64px;
    height: 64px;

    svg {
      transform: scale(0.6);
    }
  }

  @include laptop {
    right: 78px;
  }

  @include desktop {
    right: 90px;
    width: 100px;
    height: 100px;

    svg {
      transform: scale(0.7);
    }
  }
}

.swiper-gallery>.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}