.green-park {
  .bg-parallax-wrap {
    height: 50vh;
  }
}

.green-garden {
  .green-garden__container {
    .bg-parallax-wrap {
      height: 60vh;
      @include tablet {
        height: 60vh;
      }
      @include laptop {
        height: 100vh;
      }
    }
  }
}
