.section {
  margin-bottom: 150px;
}

.home-hero {
  padding-top: 206px;

  @include tablet {
    padding-top: 206px;
  }

  @include laptop {
    padding-top: 180px;
  }

  @include desktop {
    padding-top: 206px;
  }
}

.home-hero__title-wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.home-hero__title {
  @include text-style-h-1;
  color: $color-grey;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 40%;

    left: -45%;
    top: 50%;
    background-color: $color-grey;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 40%;
    right: -45%;
    top: 50%;
    background-color: $color-grey;
  }
}

.home-hero__text {
  @include text-style-accent;
  color: $color-grey;
  margin-bottom: 46px;
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    max-width: 80%;
    text-align: center;
  }
}

.bg-parallax-wrap {
  position: relative;
  width: 100%;
  height: calc((100vw - 60px) * 0.43);

  img {
    object-fit: cover;
    height: 100%;
  }
}

.home-safe__text-block-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.home-safe__title {
  @include section-title;
  color: $color-grey;
  max-width: 45%;
}

.home-safe__descr-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 30%;

  .home-safe__descr {
    @include text-style-txt;
    color: $color-grey;
  }

  .general-btn {
    width: fit-content;
  }
}

.home-safe {
  .bg-parallax-wrap {
    height: 100vh;
  }
}

.home-sensation__title {
  @include text-style-accent;
  color: $color-grey;
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include laptop {
    margin-bottom: 38px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.home-sensation__descr {
  @include section-descr;
  color: $color-grey;
  margin-bottom: 50px;
  max-width: 85%;
}

.home-sensation__img-container {
  display: flex;
  gap: 50px;
}

.img-container__img-block {
  width: calc(50vw - 25px);
  height: calc(50vw - 25px);
  position: relative;

  img {
    object-fit: cover;
    height: 100%;
  }

  p {
    @include section-descr;
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
  }
}

.bg-img__descr-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden
}

.bg-img__title {
  @include section-descr;

  max-width: 900px;
  color: $color-white;
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
}

.bg-img__text {
  @include text-style-txt;
  color: $color-white;
  text-align: center;
}

.home-arcitech__descr-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.home-arcitech__slider-img__wrap {
  height: calc((100vw - 60px) / 2 * 0.75);

  img {
    object-fit: cover;
    height: 100%;
  }
}

.home-infrastructure {
  position: relative;
  width: 100%;
  height: 100vh;

  .home-sensation__title {
    color: $color-white;
  }

  .home-sensation__descr {
    color: $color-white;
  }

  .home-arcitech__descr-wrap {
    margin-top: auto;
  }

  .home-safe__descr {
    color: $color-white;
  }

  .general-btn {
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;
  }
}

.home-infrastructure__bg {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.home-infrastructure__bg-relative {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.home-infrastructure__bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(196deg, rgba(0, 0, 0, 0) -10.86%, rgba(0, 0, 0, 0.8) 89.08%);
}

.home-invest__content-wrap {
  display: flex;
  width: 100%;
  height: 517px;
}

.home-invest__img-wrap {
  flex: 1;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.home-invest__descr-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-grey;
  padding: 50px;
  width: 600px;
  height: 517px;
  box-sizing: border-box;
  max-width: 600px;

  .home-safe__descr {
    color: $color-white;
  }

  .general-btn {
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;
  }
}

.home-quality {
  .home-safe__text-block-wrap {
    position: relative;
    margin-bottom: 100px;

    .icon--lev-bg {
      position: absolute;
      top: 50%;
      left: 15%;
      width: 885px;
      height: 308px;
    }

    .icon--lev-logo {
      width: 250px;
      height: 87px;
    }
  }
}

.home-quality__descr-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 50px;

  p {
    @include text-style-txt;
    max-width: 547px;
    color: $color-grey;
  }
}

.home-nature {
  height: 75vh;
}

.progress-card {
  width: 100%;

  img {
    width: 100%;
    height: calc((100vw - 60px - 100px) / 2.2 * 0.55);
    margin-bottom: 20px;
  }

  .progress-card__descr-wrap {
    display: flex;
    gap: 161px;
  }

  .progress-card__title {
    @include text-style-txt;
  }

  .progress-card__date {
    @include text-style-date;
  }
}