.progress__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include laptop {
    gap: 50px;
  }
}

.progress-card {
  @include tablet {
    width: calc((100% - 16px) / 2);

    .progrss-img-wrap {
      height: calc((100vw - 48px - 16px) / 2 * 1.2);
      height: auto;
      img {
        object-fit: contain;
      }
    }

    &:nth-child(4n - 2),
    &:nth-child(4n - 1) {
      .progrss-img-wrap {
        height: calc((100vw - 48px - 16px) / 2 * 0.9);
      }
    }
  }

  @include laptop {
    width: calc((100% - 50px) / 2);

    .progrss-img-wrap {
      height: calc((100vw - 60px - 50px) / 2 * 0.85);
    }

    &:nth-child(4n - 2),
    &:nth-child(4n - 1) {
      .progrss-img-wrap {
        height: calc((100vw - 60px - 50px) / 2 * 0.7);
      }
    }
  }
}

.progrss-img-wrap {
  width: 100%;
  height: calc((100vw - 60px - 50px) * 0.85);
  margin-bottom: 8px;

  @include tablet {
    height: calc((100vw - 60px - 50px) / 2 * 0.85);
    margin-bottom: 20px;
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}

.load-more__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.load-more-btn {
  @extend .general-btn;

  &:disabled {
    visibility: hidden;
    pointer-events: none;
  }
}