header(class="header "+headerCustomClass)
  .container.header-bg  
    button.call-us__btn(data-call-us-btn) Зворотній дзвінок
    a(href="/").header__logo 
      +svg("logo")
    .header__rigth-block
      ul.language__list 
        li.language__item.active
          a Ua
        li.language__item 
          a En
      a.general-btn(href="/") Обрати квартиру
      .menu-btn__burger
        span.line-over 
        span.line-under 

.menu__container
  .menu__bg.container
    .menu__title-wrap 
      h2.menu__title Меню
    .menu__nav-contacts-wrap 
      nav.header__nav-container
        ol.nav__list 
          li 
            a(href="/").nav__link Головна
          li 
            a(href="green").nav__link Зелене оточення
          li 
            a(href="hills-club").nav__link Hills Club
          li 
            a(href="floors").nav__link Представницькі поверхи
          li 
            a(href="infrastructure").nav__link Внутрішня інфраструктура
          li 
            a(href="gallery").nav__link Галерея
          li 
            a(href="progress").nav__link Обрати квартиру
          li 
            a(href="progress").nav__link Будівництво
          li 
            a(href="documents").nav__link Документи
          li 
            a(href="invest").nav__link Інвесторам
          li 
            a(href="location").nav__link Розташування 
          li 
            a(href="safe").nav__link Безпечна територія
          li 
            a(href="contacts").nav__link Контакти 
      .header__contacts-container 
        a.address__link(href="mailto:centralhills@gmail.com") centralhills@gmail.com
        a.address__link(href="tel:+380987005700") +380 (98) 700 57 00
        ul.social__list 
          li 
            a.social__link(href="/") Instagram
            +svg("social-arrow")
          li 
            a.social__link(href="/") Youtube
            +svg("social-arrow") 
          li 
            a.social__link(href="/") Facebook
            +svg("social-arrow")
          li 
            a.social__link(href="/") Telegram
            +svg("social-arrow")
        button.footer__call-us-btn(type="button" data-call-us-btn) Зв’язатися з нами
          +svg("arrow")
.overflow.hidden(data-call-us-modal) 
  .call-us__container
    button(type="button" data-call-us-modal-close).close-btn 
      +svg("cross")
    .call-us__title-wrap 
      h2 Замовити дзвінок
      p Якшо у вас виникли питання, залиште свій номер і ми передзвонимо вам:
    +form







