header(class="header "+headerCustomClass)
  .container.header-bg  
    button.call-us__btn Зворотній дзвінок
    .header__logo 
      +svg("logo")
    .header__rigth-block
      ul.language__list 
        li.language__item.active
          a Ua
        li.language__item 
          a En
      a.general-btn(href="/") Обрати квартиру
      .menu-btn__burger
        span.line-over 
        span.line-under 

.menu__container



